<script>
import ContentLayout from '../layouts/Regular.vue';
import RightArrowIcon from '../components/icons/IconRightArrow.vue'

export default {
  components: {
    ContentLayout,
    RightArrowIcon
  },
  data() {
    return {
      slideDown: true,
      to: 1,
      from: 1,
    }
  },
  beforeRouteEnter(to, from, next) {
    const route_list = ['/', '/about', '/product', '/contact'];
    next(vm => {
      const toIndex = route_list.indexOf(to.path);
      const fromIndex = route_list.indexOf(from.path);
      vm.$data.to = toIndex;
      vm.$data.from = fromIndex;
      if (toIndex > fromIndex) {
        vm.$data.slideDown = true;
      }
      else {
        vm.$data.slideDown = false;
      }
    })
  },
}
</script>
<template>
  <ContentLayout :from="from" :to="to" :slideDown="slideDown">
    <div class="absolute p-8 md:w-[45vw] h-2/3 right-[5vw] top-16 md:top-[8vw]">
      <div class="left-0 top-0 absolute w-16 h-16 overflow-hidden  origin-top-left animate-zoom-in">
        <div class="bar absolute left-0 top-0 origin-bottom-left rotate-90"></div>
        <div class="bar absolute left-0 top-0"></div>
      </div>
      <div class="bg-opacity-50 p-8 bg-white rounded float-right animate-slide-left-delay">
        <h1 class="text-[4vh] md:text-5xl font-bold">Our People Come First </h1>
        <div class="text-[3vh] md:text-2xl font-semibold my-5">We are independently owned, strategic creative agency forever curious and
          ready to transform the way business is done. </div>
      </div>
      <button
        class="bg-amber-400 hover:bg-gray-400 text-white hover:text-gray-500 font-bold my-8 py-2 px-4 rounded float-right animate-slide-top-delay">
        Learn More
      </button>
    </div>
  </ContentLayout>
</template>
<style lang="postcss" scoped>
@keyframes zoom-in {
  0% {
      transform: scale(0);
  }

  90% {
      transform: scale(0);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes slide-left-delay {
  0% {
      transform: translateX(200%);
  }

  90% {
      transform: translateX(200%);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes slide-top-delay {
  0% {
      transform: translateY(2000%);
  }

  90% {
      transform: translateY(2000%);
  }

  100% {
      transform: translateY(0);
  }
}


.animate-slide-left-delay {
  animation: 1.4s ease-out 0s 1 slide-left-delay;
}

.animate-slide-top-delay {
  animation: 1.4s ease-out 0s 1 slide-top-delay;
}

.animate-zoom-in {
  animation: 1.4s ease-out 0s 1 zoom-in;
}
.bar {
  @apply bg-amber-400 h-2 w-20;
}

</style>
