<script>
import ContentLayout from '../layouts/Regular.vue';

export default {
    components: {
        ContentLayout
    },
    data() {
        return {
            slideDown: true,
            to: 1,
            from: 1,
        }
    },
    beforeRouteEnter(to, from, next) {
        const route_list = ['/', '/about', '/product', '/contact'];
        next(vm => {
            const toIndex = route_list.indexOf(to.path);
            const fromIndex = route_list.indexOf(from.path);
            vm.$data.to = toIndex;
            vm.$data.from = fromIndex;
            if (toIndex > fromIndex) {
                vm.$data.slideDown = true;
            }
            else {
                vm.$data.slideDown = false;
            }
        })
    },
}
</script>
<template>
    <ContentLayout :from="from" :to="to" :slideDown="slideDown">
        <div class="absolute md:w-[45vw] right-[5vw] top-20 md:top-[8vw]">
            <div class="left-0 top-0 absolute w-16 h-16 overflow-hidden  origin-top-left animate-zoom-in">
                <div class="bar absolute left-0 top-0 origin-bottom-left rotate-90"></div>
                <div class="bar absolute left-0 top-0"></div>
            </div>
            <div class="right-0 bottom-0 absolute w-16 h-16 overflow-hidden origin-bottom-right  animate-zoom-in">
                <div class="bar absolute right-0 bottom-0 origin-top-right rotate-90"></div>
                <div class="bar absolute right-0 bottom-0"></div>
            </div>
            <div class="bg-opacity-50 p-8 m-8 bg-white rounded-md animate-zoom-in">
                <div class="text-contact">Type your beautiful name </div>
                <input class="input-contact" placeholder="in here of course :)" />
                <div class="text-contact">Protect your email address </div>
                <input class="input-contact" placeholder="but not in here :)" />
                <button class="input-contact bg-amber-400 hover:bg-gray-400 text-white hover:text-gray-500">
                    Submit
                </button>
            </div>
        </div>
    </ContentLayout>
</template>
<style lang="postcss" scoped>
@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.animate-zoom-in {
    animation: 1.4s ease-out 0s 1 zoom-in;
}

.bar {
    @apply bg-amber-400 h-2 w-20;
}

.text-contact {
    @apply text-xl md:text-4xl font-bold;
}

.input-contact {
    @apply w-full h-10 md:h-14 my-5 rounded-lg text-center text-xl;
}
</style>
