<script setup>
import LongArrowIcon from '../components/icons/IconLongArrow.vue'
</script>

<template>
  <div class="w-full h-screen bg-[url('/images/paper.jpg')] bg-cover bg-center py-[15vh] px-[15vw] overflow-hidden">
    <div class="we-container">
      <div class="we-image-wrap">
        <img src="/images/lightbulb.jpg" alt="We Create" class="we-image">
      </div>
      <div class="absolute rotate-180 -top-[12vh] -right-[10vw] w-52  grid grid-cols-3 gap-3">
        <div class="col-span-2">
          <div class="bar" />
        </div>
        <div class="col-span-1">
          <div class="bar" />
        </div>
      </div>
      <div class="absolute -bottom-[12vh] -left-[10vw] w-52  grid grid-cols-3 gap-3">
        <div class="col-span-2">
          <div class="bar" />
        </div>
        <div class="col-span-1">
          <div class="bar" />
        </div>
      </div>
      <div class="we-text">We Create</div>
      <div class="we-awesome-wrap">
        <div class="we-box">
          &nbsp;
        </div>
        <RouterLink to="/about">
          <div class="relative w-full h-full flex justify-around items-center">
            <div class="we-awesome-text">AWESOME THINGS</div>
            <LongArrowIcon class="we-arrow" />
          </div>
        </RouterLink>
      </div>
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.we-container {
  @apply w-full max-w-[1300px] m-auto h-full relative
}

.we-image-wrap {
  @apply w-full h-full bg-slate-300 overflow-hidden
}

.we-image {
  @apply w-full h-full object-cover scale-100 saturate-0 ease-in-out duration-300
}

.we-container:hover .we-image {
  @apply scale-125 saturate-100 ease-in-out duration-300
}

.we-text {
  @apply text-amber-400 text-[6vh] md:text-[14vh] leading-none font-bold absolute -left-[10vw] -top-[4vh] md:-top-[8vh] ease-in-out duration-300 z-10
}

.we-container:hover .we-text {
  @apply text-[7vh] md:text-[15vh] ease-in-out duration-300
}

.we-awesome-wrap {
  @apply text-amber-400 w-full h-[14vh] absolute -bottom-[6vh] -left-[10vw]
}

.we-box {
  @apply bg-amber-400 w-[110%] h-full rounded-3xl absolute -left-[5000px] ease-in-out duration-300
}

.we-awesome-wrap:hover .we-box {
  @apply -left-[5%] ease-in-out duration-300
}

.we-awesome-text {
  @apply absolute w-3/4 text-[3vh] md:text-[7vh] leading-none font-bold -left-[5000px] ease-in-out duration-300
}

.we-container:hover .we-awesome-text {
  @apply left-0 ease-in-out duration-300
}

.we-awesome-wrap:hover .we-awesome-text {
  @apply text-white ease-in-out duration-300
}

.we-arrow {
  @apply absolute w-14 md:w-28 -right-[5000px] ease-in-out duration-300
}

.we-container:hover .we-arrow {
  @apply right-2 md:right-10 ease-in-out duration-300
}

.we-awesome-wrap:hover .we-arrow {
  @apply text-white ease-in-out duration-300
}

.bar {
  @apply bg-orange-400 h-4 w-0 ease-in-out duration-300;
}

.we-container:hover .bar {
  @apply w-full ease-in-out duration-300;
}
</style>

