<script>
import ContentLayout from '../layouts/Regular.vue';
import TriangleIcon from '../components/icons/IconTriangle.vue';

export default {
    components: {
        ContentLayout,
        TriangleIcon,
    },
    data() {
        return {
            slideDown: true,
            to: 1,
            from: 1,
            shift: false,
        }
    },
    beforeRouteEnter(to, from, next) {
        const route_list = ['/', '/about', '/product', '/contact'];
        next(vm => {
            const toIndex = route_list.indexOf(to.path);
            const fromIndex = route_list.indexOf(from.path);
            vm.$data.to = toIndex;
            vm.$data.from = fromIndex;
            if (toIndex > fromIndex) {
                vm.$data.slideDown = true;
            }
            else {
                vm.$data.slideDown = false;
            }
        })
    },
}
</script>
<template>
    <ContentLayout :from="from" :to="to" :slideDown="slideDown">
        <div class="absolute w-[47rem] h-72 top-20 md:top-56 -right-80 md:-right-72 overflow-hidden animate-slide-right-delay scale-75 md:scale-100">
            <div class="flex flex-nowrap">
                <div class="product-card" v-if="shift">
                    <div class="text-6xl font-bold">We Solve Your</div>
                    <div class="problem">PROBLEM</div>
                </div>
                <div class="product-card" v-if="shift">
                    <div class="text-6xl font-bold">We Know You Have</div>
                    <div class="problem">PROBLEM</div>
                </div>
                <div class="product-card-right" v-if="!shift">
                    <div class="text-6xl font-bold">We Know You Have</div>
                    <div class="problem">PROBLEM</div>
                </div>
                <div class="product-card-right" v-if="!shift">
                    <div class="text-6xl font-bold">We Solve Your</div>
                    <div class="problem">PROBLEM</div>
                </div>
                <div class="product-btn" @click="(e) => { console.log(e); shift = !shift }">
                    <TriangleIcon class="w-10 h-10" />
                </div>
            </div>
        </div>
    </ContentLayout>
</template>
<style lang="postcss" scoped>
@keyframes slide-right {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-right-delay {
    0% {
        transform: translateX(-1000%);
    }

    90% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes background-slide {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 0%
    }
}

.animate-slide-right {
    animation: 0.2s ease-out 0s 1 slide-right;
}

.animate-slide-left {
    animation: 0.2s ease-out 0s 1 slide-left;
}

.animate-slide-right-delay {
    animation: 1.4s ease-out 0s 1 slide-right-delay;
}

.animate-background-slide {
    animation: 1.4s ease-in-out 0s infinite background-slide;
}

.product-card {
    @apply bg-opacity-50 bg-white rounded inline-block w-96 h-72 p-9 ms-10 animate-slide-right;
}

.product-card-right {
    @apply bg-opacity-50 bg-white rounded inline-block w-96 h-72 p-9 ms-10 animate-slide-left;
}

.product-btn {
    @apply absolute left-[23.5rem] top-28 bg-amber-400 text-white rounded-full p-4;
}

.product-btn:hover {
    @apply text-amber-400 bg-white opacity-60;
}

.problem {
    background-size: 250% 100%;
    @apply text-6xl font-bold my-5 bg-clip-text text-transparent bg-gradient-to-r from-white from-50% to-amber-400 to-50% animate-background-slide
}
</style>
