<template>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 11.84" fill="currentColor">
    <path d="M22.3,14.07H1.05c-.6,0-1.06,0-1-.81s.39-.84,1-.84H22.27l-3.6-3.37c-.46-.42-.88-.9-.29-1.47s1-.13,1.43.28C21.39,9.41,23,11,24.57,12.48a.93.93,0,0,1,0,1.57q-2.43,2.32-4.83,4.68c-.42.41-.88.67-1.37.22s-.2-1,.24-1.38Z" transform="translate(0 -7.34)"/>
</svg>
</template>
