<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" fill="currentColor">
    <polygon points="24.9 12.5 14.15 18.88 3.25 25 3.1 12.5 3.25 0 14.15 6.12 24.9 12.5"/>
    </svg>
</template>
