<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <RouterView />
</template>

<style lang="postcss" >
@keyframes slide-left-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes black-white {
  0% {
    color: black;
  }

  100% {
    color: white;
  }
}

@keyframes saturate {
  0% {
    filter: saturate(1);
  }
  90% {
    filter: saturate(1);
  }
  100% {
    filter: saturate(0);
  }
}

.animate-slide-left-right {
  animation: 1.2s ease-in-out 0s 1 slide-left-right;
}

.animate-slide-right {
  animation: 0.2s ease-out 0s 1 slide-right;
}

.animate-slide-down {
  animation: 0.2s ease-out 0s 1 slide-down;
}

.animate-slide-up {
  animation: 0.2s ease-out 0s 1 slide-up;
}

.animate-black-white {
  animation: 1.2s ease-in 0s 1 black-white;
}
.animate-saturate {
  animation: 1.2s ease-in 0s 1 saturate;
}

.menu {
  @apply absolute w-1/2 bottom-[2vh] md:bottom-[15vh] left-5 md:left-28
}
.menu-item {
  @apply flex items-center gap-5 text-xl md:text-5xl font-bold py-2;
}

.menu-bar {
  @apply w-10 md:w-28 overflow-hidden;
}

.menu-bar>div {
  @apply w-0 h-2.5 bg-amber-400 ;
}

.router-link-active .menu-bar>div {
  @apply w-full animate-slide-right;
}

.router-link-active .menu-text {
  @apply text-amber-400;
}

.router-link-active .menu-text:hover {
  @apply opacity-100;
}

.menu-text:hover {
  @apply opacity-40;
}

.glow{
  text-shadow: 0 0 20px #fff,  0 0 80px #c0c0c0;
}
</style>
