<script>
import RightArrowIcon from '../components/icons/IconRightArrow.vue'

export default {
    props: {
        from: Number,
        to: Number,
        slideDown:Boolean,
    },
    components: {
        RightArrowIcon
    },
}
</script>
<template>
    <div class="w-full h-screen bg-[url('/images/paper.jpg')] bg-cover bg-center p-0 overflow-hidden relative">
        <div class="w-1/3 h-1/4 bg-amber-400 float-left animate-slide-left-right">
            <!-- &nbsp;{{ slideDown}}{{ from }}{{ to }} -->
        </div>
        <div class="m-10 absolute">
            <RouterLink to="/" class="text-white">
                <div class="flex items-center animate-black-white">
                    <RightArrowIcon class="inline-block rotate-180" /><span>Back</span>
                </div>
            </RouterLink>
        </div>
        <div :class="`bg-[url('/images/bg${from}.jpg')]`"
            class="w-2/3 h-full relative float-right saturate-0 animate-saturate bg-cover bg-center ">
            <img :src="`images/bg${to}.jpg`" alt="background"
                :class="[slideDown ? 'animate-slide-down' : 'animate-slide-up']" class="w-full h-full object-cover">
        </div>

            <slot />

    </div>
    <div class="menu">
        <div class="flex flex-col">
            <router-link to="/about">
                <div class="menu-item">
                    <div class="menu-bar">
                        <div />
                    </div>
                    <div class="menu-text glow">About Us</div>
                </div>
            </router-link>
            <router-link to="/product">
                <div class="menu-item">
                    <div class="menu-bar">
                        <div />
                    </div>
                    <div class="menu-text glow">Our Product</div>
                </div>
            </router-link>
            <router-link to="/contact">
                <div class="menu-item">
                    <div class="menu-bar">
                        <div />
                    </div>
                    <div class="menu-text glow">Contact Us</div>
                </div>
            </router-link>
        </div>
    </div>
</template>
<style lang="postcss"></style>
